<app-navbar></app-navbar>

<div class="profile-container container-fluid">
  <div class="row">
    <!-- Sidebar (À gauche) -->
    <div class="col-lg-3 col-md-12 sidebar-wrapper">
      <div class="profile-sidebar">
        <div class="profile-pic">
          <img [src]="user.image" alt="Profile Picture">
          <label for="file-input" class="edit-icon">
            <i class="bi bi-camera"></i>
          </label>
          <input id="file-input" type="file" hidden (change)="onFileSelected($event)">
        </div>

        <div class="profile-info">
          <h2>Yassine Meddeb</h2>
          <p class="profile-role">Visiteur</p>
          <p class="profile-location"><i class="bi bi-geo-alt"></i> Tunis, Tunisie</p>
        </div>

        <div class="profile-stats">
          <div class="stat-item"><span class="stat-value">5</span><span class="stat-label">Réservations</span></div>
          <div class="stat-item"><span class="stat-value">3</span><span class="stat-label">Favoris</span></div>
        </div>

        <div class="profile-actions">
          <button class="btn btn-action" routerLink="/profile/info"><i class="bi bi-house"></i> Information personnelle</button>
          <button class="btn btn-action" routerLink="/profile/reservations"><i class="bi bi-heart"></i> Voir mes Réservations</button>
          <button class="btn btn-action" routerLink="/profile/message"><i class="bi bi-chat"></i> Contacter un agent</button>
        </div>
      </div>
    </div>

    <!-- Contenu dynamique (À droite) -->
    <div class="col-lg-9 col-md-12 content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>