<div class="dashboard-container">
  <div class="stats-grid">
    <div class="stat-card">
      <div class="stat-icon">
        <i class="bi bi-house-door"></i>
      </div>
      <h3>Nombre total de biens</h3>
      <div class="stat-value">{{ totalBiens }}</div>
    </div>
    
    <div class="stat-card">
      <div class="stat-icon">
        <i class="bi bi-currency-dollar"></i>
      </div>
      <h3>Revenu mensuel</h3>
      <div class="stat-value">{{ revenuMensuel }} TND</div>
    </div>
    
    <div class="stat-card">
      <div class="stat-icon">
        <i class="bi bi-calendar-check"></i>
      </div>
      <h3>Réservations actives</h3>
      <div class="stat-value">{{ reservationsActives }}</div>
    </div>
    <!-- Gauge Chart Card -->
  <div class="chart-card gauge-card">
    <h3>Annonces restantes</h3>
    <div id="gauge-chart"></div>
  </div>
  </div>

  

  <div class="charts-grid">
    <div class="chart-card" id="ch1">
      <h3>📊 Revenu mensuel par mois</h3>
      <div id="bar-chart"></div>
    </div>
    <div class="chart-card" id="ch2">
      <h3>🏠 Répartition des biens</h3>
      <div id="pie-chart"></div>
    </div>
  </div>
</div>