<footer class="footer bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>À propos</h5>
          <p>TunImmobilier est la plateforme idéale pour trouver, louer ou acheter un bien en Tunisie.</p>
        </div>
        <div class="col-md-4">
          <h5>Liens utiles</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Accueil</a></li>
            <li><a href="#" class="text-white">Annonces</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact</h5>
          <p>Email: contact tunimmobilier.com</p>
          <p>Téléphone: +216 12 345 678</p>
        </div>
      </div>
    </div>
  </footer>
  