/* Style général de la navbar */
.navbar {
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  height: 90px;
  margin-top: -5px;
}

/* Logo */
.logo {
  height: 90px;
  width: 120px;
  margin-bottom: -20px;
  margin-left: 60px;
  margin-top: -20px;
}

/* Liens du menu */
.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  margin: 0 15px;
  color: #333;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #00796b;
}

/* Effet de soulignement au survol */
.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #00796b;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

/* Boutons */
.btn-primary {
  background-color: #00796b;
  border: none;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #005a4f;
}

.btn-warning {
  background-color: #ff9800;
  margin-left: 10px;
  border: none;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.btn-warning:hover {
  background-color: #e68900;
}

.btn-outline-secondary {
  border-color: #ca1010;
  margin-left: 10px;
  color: #ca1010;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-outline-secondary:hover {
  background-color: #ca1010;
  color: white;
}

/* Icônes */
.bi {
  margin-right: 5px;
}

/* Menu mobile */
@media (max-width: 1199px) {
  .navbar-nav {
    text-align: center;
    margin-top: 10px;
  }

  .navbar-nav .nav-link {
    margin: 10px 0;
  }

  .d-flex {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .btn {
    width: 100%;
    margin: 5px 0;
  }

  .navbar-collapse {
    position: fixed;
    top: 90px; /* Hauteur de la navbar */
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.774);
    z-index: 1000;
    overflow-y: auto;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }

  .navbar-collapse.show {
    max-height: 300px; /* Ajustez selon la hauteur nécessaire */
  }

  .content {
    transition: margin-top 0.3s ease-in-out;
  }

  .content.shifted {
    margin-top: 300px; /* Ajustez selon la hauteur du menu */
  }
}