<nav class="navbar navbar-expand-xl navbar-light bg-white shadow-sm fixed-top">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand fw-bold text-primary" href="#">
      <img src="assets/Immo.jpg" alt="Logo" class="logo">
    </a>

    <!-- Bouton Toggle pour mobile -->
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarNav" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Liens du menu -->
    <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'show': isMenuOpen}">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-12">
        <li class="nav-item">
          <a [routerLink]="['/accueil']" fragment="top" class="nav-link active">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/accueil']" fragment="annonces">Annonces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/accueil']" fragment="why-choose-us">Nos Avantages</a>
        </li>
      </ul>

      <!-- Boutons à droite -->
      <div class="d-flex align-items-center navbar-buttons">
        <a href="/add-bien" class="btn btn-warning">
          <i class="bi bi-plus-circle"></i> Déposer une annonce
        </a>
        <a routerLink="/favoris" class="btn btn-outline-secondary">
          <i class="bi bi-heart"></i> Mes Favoris
        </a>
        <a routerLink="/login" class="btn btn-primary">
          Se connecter
        </a>
      </div>
    </div>
  </div>
</nav>