.dashboard-container {
    padding: 20px;
    background: #f0f8ff;
    transition: margin-left 0.3s ease;
    font-family: 'Poppins', sans-serif;
    border:2px solid #0a5236;
  }
  
  h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  
  /* KPI Principaux */
  .kpi-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .kpi-card {
    background: linear-gradient(135deg, #ffffff, #f0f8ff);
    padding: 20px;
    border:2px solid #0a5236;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .kpi-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }
  
  .kpi-card i {
    font-size: 40px;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #56b3a8, #2c3e50);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .kpi-card h3 {
    color: #2c3e50;
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 550;
  }
  
  .kpi-value {
    font-size: 24px;
    font-weight: bold;
    color: #56b3a8;
  }
  
  /* Graphiques */
  .charts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }
  
  .chart-card {
    background: white;
    border:2px solid #0a5236;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .chart-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }
  
  .chart-card h3 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .dashboard-container {
      margin-left: 60px;
    }
  
    .kpi-grid {
      grid-template-columns: 1fr;
    }
  
    .charts-grid {
      grid-template-columns: 1fr;
    }
    .chart-card{
      grid-template-columns: 1fr;
    }
    #line-chart{
      grid-template-columns: 11fr;
    }
  }