.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
  }
  
  .hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  