.property-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background: #fff;
  margin: 10px;
  overflow: hidden;
  
  cursor: pointer;
  position: relative;
  }
  
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .card-img-top {
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  
  .card-img-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .card:hover .card-img-top img {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }
  
  .progress-container {
    display: flex;
    align-items: center;
    width: 80%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 5px;
  }
  
  .progress-bar {
    height: 6px;
    border-radius: 5px;
    transition: width 0.5s ease;
  }
  
  .text-primary {
    color: #065f53 !important;  }
  
  .btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
    transition: all 0.3s ease;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
  }
  