<app-navbar></app-navbar>

<section class="container row col-12 my-5">
  <h2 class="text-center mb-4 text-dark fw-bold">Réserver ce bien</h2>
  

  <!-- Détails du bien -->
  <div *ngIf="!isLoading && bien">
  <div class="bien-details col-xl-6 col-lg-6 col-md-6 mb-5">
    <h3>{{ bien.titre }}</h3>
    <p>{{ bien.description }}</p>
    <p><strong>Prix par mois :</strong> {{ bien.prix }} TND</p>
    <p><strong>Localisation :</strong> {{ bien.localisation }}</p>
  </div>

  <!-- Formulaire de réservation -->
  <form (ngSubmit)="reserver()" class="reservation-form col-xl-6 col-lg-5 col-md-4">
    <!-- Date de début -->
    <div class="form-group mb-3">
      <label for="dateDebut" class="form-label">Date de début</label>
      <input
        type="date"
        id="dateDebut"
        name="dateDebut"
        class="form-control"
        [(ngModel)]="reservationDate"
        required
        
      /></div>
      

   


    <!-- Bouton de confirmation -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-lg" >
        <i class="bi bi-calendar-check"></i> Confirmer la réservation
      </button>
    </div>
  </form>
</div>
</section>

<app-footer></app-footer>