<div class="reset-password-container">
  <h2>Réinitialiser le mot de passe</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>Nouveau mot de passe :</label>
    <input type="password" formControlName="password" required />
    
    <label>Confirmer le mot de passe :</label>
    <input type="password" formControlName="confirmPassword" required />
    
    <button type="submit" [disabled]="form.invalid">Changer le mot de passe</button>
  </form>

  <div *ngIf="message" class="success-message">{{ message }}</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>
</div>
